.page{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    margin: 0 200px;
}
@media screen and (max-width: 768px){
    .page{
        margin:0 135px;
    }
}

@media screen and (max-width: 320px) {
    .page{
        margin: 0 5px 0;
    }
}
